header {
  z-index: 2;
  position: relative;
  height: var(--header-height);
  padding: var(--header-padding);
  background-image: url('/images/pattern-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: var(--title-margin);
  color: var(--clr-white);
  font-weight: 500;
  line-height: 1;
  font-size: var(--fs-title);
  letter-spacing: -0.2px;
}
